<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link bg-celestePrimary text-huesoLetras text-center uppercase font-bold">
    <pf-image
        src="assets/img/logoCas.png"
        alt="AdminLTE Logo"
        height="90"
        width="200"
    ></pf-image>
    <br>
    <span class="brand-text font-weight-light text-huesoLetras text-center">Clínica Castañeda</span>
</a>
<!-- Sidebar -->
<div class="sidebar bg-celestePrimary text-huesoLetras">
    <!-- Sidebar user (optional) -->
    <div
        class="user-panel mt-3 pb-2 d-flex"
        style="justify-content: start; align-items: center;"
    >
        <pf-image
            [src]="user.picture"
            fallbackSrc="assets/img/default-profile.png"
            style="margin-left: 12px"
            alt="User Image"
            width="34"
            height="34"
            rounded="true"
        />
        <div class="info">
            <a [routerLink]="['/profile']" class="d-block">
                {{ user.profile.email }}
            </a>
        </div>
    </div>

    <div class="form-inline bg-celestePrimary text-huesoLetras">
        <app-sidebar-search></app-sidebar-search>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2 bg-celestePrimary text-huesoLetras" style="overflow-y: hidden">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
            <app-menu-item *ngFor="let item of menu" [menuItem]="item" />
        </ul>
    </nav>
</div>
